HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

Screenshot 2026-05-10 112102.png
Screenshot 2026-05-10 112327.png
docker_ps_all.png
files (1).zip
grafana_dashboard.png
prometheus_targets.png
sprint5_prometheus_grafana.tex

### VS Code ###
.vscode/
